<!--Main layout-->
<mat-icon-button
  mat-dialog-close="false"
  color="warn"
  aria-label="Close button"
  class="close-icon"
>
  <mat-icon>cancel</mat-icon></mat-icon-button
>
<div>
  <h1 mat-dialog-title class="text-center d-inline">Checkout</h1>
</div>
<mat-dialog-content>
  <div class="container wow fadeIn">
    <!-- Heading -->
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-8 mb-2">
        <div class="row" *ngIf = "shippingDetails.length!=0">
          <div class="col-md m-3">
            <h4 class="text-secondary mb-0">Saved Details</h4>
            <mat-radio-group
              class="d-flex flex-row shipmentCards py-2"
              name="card-type"
              [(ngModel)]="detailNumber"
              color = "primary"
              (change) = "change()"
            >
              <mat-radio-button class="cardRadio mx-1 px-2 pt-1"
                *ngFor="let card of shippingDetails; let i = index"
                value="{{ i }}"
              >
                <!-- <div class="card" style="max-width: 100%">
                  <div class="card-body"> -->
                    <p>
                      {{ card.address.substr(0, 6) }}........{{
                        card.address.substr(card.address.length - 6)
                      }}
                      <span class="float-right"><i (click) = "removeCard(i)" class="fa fa-minus" aria-hidden="true"></i></span>
                    </p>
                    <strong
                      ><p>
                        {{ card.cardName.toUpperCase() }} {{ card.creditCard.substr(0,5) }} **** **** {{card.creditCard.substr(card.creditCard.length - 4)}}
                      </p></strong
                    >
                  <!-- </div>
                </div> -->
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="card">
          <!-- <form [formGroup] = "demoForm" (ngSubmit)="onSubmit(demoForm)" novalidate>
            <input id="cc-number" formControlName="creditCard" type="tel" autocomplete="cc-number" ccNumber>
            <input id="cc-exp-date" formControlName="expirationDate" type="tel" autocomplete="cc-exp" ccExp>
            <input id="cc-cvc" formControlName="cvc" type="tel" autocomplete="off" ccCVC>
        </form> -->
          <form
            ngNativeValidate
            [formGroup]="detailsForm"
            (ngSubmit)="placeOrder(detailsForm.value)"
            class="card-body"
          >
            <div class="mb-3">
              <label for="address" class="">Address</label>
              <input
                formControlName = "address"
                type="tel"
                id="address"
                class="form-control"
                placeholder="1234 Main St"
                required
                ngModel
              />
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-6 mb-2">
                <label for="state">State</label>
                <select
                  formControlName="state"
                  class="custom-select d-block w-100"
                  id="state"
                  ngModel
                  required
                >
                  <option value="">Choose...</option>
                  <option *ngFor="let item of states">{{ item }}</option>
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-2">
                <label for="zip">Zip</label>
                <input
                  formControlName="postalCode"
                  type="text"
                  class="form-control"
                  id="zip"
                  placeholder=""
                  ngModel
                  required
                />
                <div class="invalid-feedback">Zip code required.</div>
              </div>
            </div>

            <hr />

            <div class="custom-control custom-checkbox">
              <input
                formControlName="sameAdd"
                type="checkbox"
                class="custom-control-input"
                id="same-address"
                ngModel
              />
              <label class="custom-control-label" for="same-address"
                >Shipping address is the same as my billing address</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                formControlName="saveInfo"
                type="checkbox"
                class="custom-control-input"
                id="save-info"
                ngModel
              />
              <label class="custom-control-label" for="save-info"
                >Save this information for next time</label
              >
            </div>

            <hr />

            <div class="d-block my-2">
              <mat-radio-group
                required
                class="d-flex flex-column"
                formControlName="cardType"
                ngModel
              >
                <mat-radio-button value="cc"> CreditCard</mat-radio-button>

                <mat-radio-button value="dc">Debit Card</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="row">
              <div class="col-md-6 mb-2">
                <label for="cc-name">Name on card</label>
                <input
                  formControlName="cardName"
                  type="text"
                  class="form-control"
                  id="cc-name"
                  placeholder="John Marston"
                  ngModel
                  required
                />
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback">Name on card is required</div>
              </div>
              <div class="col-md-6 mb-2">
                <label for="cc-number">Credit card number</label>
                <input
                  class="form-control"
                  id="cc-number"
                  type="tel"
                  formControlName="creditCard"
                  autocomplete="cc-number"
                  ccNumber
                  ngModel
                  reuired
                  placeholder="0000 0000 0000 0000"
                />
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-2">
                <label for="cc-exp-date">Expiration</label>
                <input
                  id="cc-exp-date"
                  class="form-control"
                  placeholder="mm/yyyy"
                  formControlName="expirationDate"
                  type="tel"
                  autocomplete="cc-exp"
                  ccExp
                  ngModel
                  required
                />
                <div class="invalid-feedback">Expiration date required</div>
              </div>
              <div class="col-md-3 mb-2">
                <label for="cc-cvc">CVV</label>
                <input
                  id="cc-cvc"
                  formControlName="cvc"
                  type="tel"
                  autocomplete="off"
                  ccCVC
                  ngModel
                  required
                  placeholder="XXX"
                  class="form-control"
                />
                <div class="invalid-feedback">Security code required</div>
              </div>
            </div>
            <hr class="mt-1" />
            <button class="btn btn-info btn-lg btn-block" type="submit">
              Place Order
            </button>
          </form>
        </div>
      </div>

      <div class="col-md-4 mb-2 summary">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">{{
            data.totalItems
          }}</span>
        </h4>

        <ul class="list-group mb-2 z-depth-1">
          <li
            class="list-group-item d-flex justify-content-between lh-condensed"
            *ngFor="let item of userCart; let i = index"
          >
            <div>
              <h5 class="my-0">
                <span>{{ item.name }}</span> - {{ qty[i] }}
              </h5>
              <small class="text-muted">{{ item.subname }}</small>
            </div>
            <span class="text-muted">&#8377;{{ item.price * qty[i] }}</span>
          </li>
          <li
            class="
              list-group-item
              d-flex
              justify-content-between
              bg-light
              text-danger
            "
          >
            <div>
              <h4 class="my-0">MRP</h4>
            </div>
            <span>&#8377;{{ data.mrp | number: "1.0-0" }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h4 class="my-0">Discount</h4>
            </div>
            <span class="text-success"
              >-&#8377;{{ data.mrp - data.total | number: "1.0-0" }}</span
            >
          </li>
          <li
            [ngClass]="{
              'text-success': data.dFee == 0,
              'text-danger': data.dFee != 0
            }"
            class="list-group-item d-flex justify-content-between bg-light"
          >
            <div>
              <h4 class="my-0">Delievery Fee</h4>
            </div>
            <span>{{ DFeeStatement }}</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between bg-light text-success"
          >
            <div class="text-success">
              <h4 class="my-0">Wheel offer</h4>
            </div>
            <span class="text-success">-&#8377;{{finaloffer}}</span>
        </li>
          <li class="list-group-item d-flex justify-content-between">
            <h4>TOTAL (&#8377;)</h4>
            <strong>&#8377;{{ data.total + data.dFee - finaloffer }}</strong>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Promo code"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <button
                class="btn btn-secondary btn-md waves-effect m-0"
                type="button"
              >
                Redeem
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-dialog-content>
